<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eva's blog</title>
</head>
<body>
  <nav style="display: flex; padding: 1em; margin: 0; justify-content: space-between; background: azure;">
    <h2>Eva's blog</h2>
    <ul style="display: flex; list-style: none;">
      <li style="padding-right: 1em;">
           <a href="/"> Home </a>
      </li>
      <li style="padding-right: 1em;">
          <a href="/about"> About </a>
      </li>
      <li style="padding-right: 1em;">
        <a href="/contact"> Contact </a>
      </li>
    </ul>
  </nav>
    {%block content%}
    {%endblock content%}
</body>
</html>